<div class = "grid-container" >
  <div class = "content-container" id = "about-container">
    <app-plus-sign></app-plus-sign>
    <div class = "title-container">
      <h1 id = "about-title" class = "title scroll-animated"> ABOUT ME </h1>
    </div>
    <div class = "content ">
      <div class = "typography">
        <p class = "scroll-animated">
        I'm a software developer based in Halifax, Nova Scotia. I specialize in designing and writing low-level application software. I'm also a <a href="https://bcert.me/smkohclqq" target="_blank">certified Scrum Master!</a><br/>
        <br/>
        I'm always striving to learn new things and I'm passionate about solving technical problems both in my career and in my spare time.<br/>
        <br/>
        I’ve been working with the following technologies recently:</p>
        <br/>
        <div id = "technology-list" class = "scroll-animated">
          <ul>
            <li>
              <svg viewBox="0 0 100 100" class = "ul-arrow" width="12" height="12">
                <rect x="0" y="0" width="70" height="70"></rect>
              </svg>
               C++
            </li>
            <li>
              <svg viewBox="0 0 100 100" class = "ul-arrow" width="12" height="12">
                <rect x="0" y="0" width="70" height="70"></rect>
              </svg>
              Java
            </li>
            <li>
              <svg viewBox="0 0 100 100" class = "ul-arrow" width="12" height="12">
                <rect x="0" y="0" width="70" height="70"></rect>
              </svg>
              Python
            </li>
          </ul>
          <ul>
            <li>
              <svg viewBox="0 0 100 100" class = "ul-arrow" width="12" height="12">
                <rect x="0" y="0" width="70" height="70"></rect>
              </svg>
              Typescript
            </li>
            <li>
              <svg viewBox="0 0 100 100" class = "ul-arrow" width="12" height="12">
                <rect x="0" y="0" width="70" height="70"></rect>
              </svg>
              Docker
            </li>
            <li>
              <svg viewBox="0 0 100 100" class = "ul-arrow" width="12" height="12">
                <rect x="0" y="0" width="70" height="70"></rect>
              </svg>
              Kubernetes
            </li>
          </ul>
        </div>
      </div>
      <div id = "headshot">
        <img src="./assets/images/headshot.jpg">
      </div>
    </div>
  </div>
</div>
