<div class="navbar-container">
  <div class = "left">
    <p id="logotype" class="navbar-text" > HOWARDPEARCE.CA </p>
  </div>
  <div class = "right">
    <div class = "expanded">
      <a class="navbar-text highlight-text" href="#"> HOME </a>
      <a class="navbar-text" href="#"> ABOUT </a>
      <a class="navbar-text" href="#"> EXPERIENCE </a>
      <a class="navbar-text" href="#"> CONTACT </a>
    </div>
    <div class = "hamburger">
      <i class="fa-regular fa-circle"></i>
      <i class="fa-regular fa-circle"></i>
      <i class="fa-regular fa-circle"></i>
      <i class="fa-regular fa-circle"></i>
    </div>
  </div>
</div>

