.navbar-container {
  position: fixed;
  height: 100px;
  background-color: var(--navbar-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  z-index: 5;
}

.left {
  margin-left: 80px;
}

.right {
  margin-right: 80px;
  display: flex;
}

.right a {
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  font-weight: 500;
}

.right i {
  padding-left: 20px;
  color: var(--primary-color);
}

.navbar-text {
  font-size: 28px;
  margin: 0px;
}

#logotype {
  font-family: "Aileron Semibold";
}

/* MEDIA QUERIES AND RESPONSIVE STYLING */

@media only screen and (max-width: 1350px) {
  .expanded {
    display: none;
  }
}

@media only screen and (min-width: 1350px) {
  .hamburger {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .left {
    margin-left: 20px;
  }
  .right {
    margin-right: 20px;
  }
  #logotype {
    font-size: 20px;
  }
}
