<div class = "grid-hero-container" id="hero-container">
  <div class = "hero-section-container">
    <div id = "hero-typography">
      <p class = "hero-subtext" id = "above"> Hi, my name is </p>
      <h1 class = "hero-text"> Howard Pearce </h1>
      <p class = "hero-subtext" id = "below"> I am a Software Developer that is passionate about creating robust and maintainable software. </p>
    </div>
  </div>
  <div id = "hero-graphic">
    <div id = "gradient"></div>
  </div>
</div>
<div class = "arrow-container">
  <div id = "upper-arrow"></div>
  <p id = "scroll-text"> SCROLL </p>
  <div id = "lower-arrow"></div>
  <div id = "arrow"></div>
</div>
