#hero-graphic {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 4;
  height: 115vh;
  width: 100%;
}

#gradient {
  background: linear-gradient(rgba(255,255,255,0) 0%, var(--bg-color) 100%);
  position: absolute;
  bottom: 0px;
  /* Reference grid-hero-container for this width (it is the addition of the last two columns) */
  width: 45%;
  height: 30vh;
}

.grid-hero-container {
  display: grid;
  grid-template-columns: 180px auto 35% 10%;
  grid-template-rows: 100px auto 100px;
  background-color: var(--bg-color);
}

#hero-container {
  height: 100vh;
  overflow: hidden;
}

.hero-section-container {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  display: flex;
}

#hero-typography {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  height: 100%;
  position: relative;
  top: -60px;
  background-color: var(--bg-color);
}

#spacer {
  display: none;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}

#above {
  position: relative;
  bottom: -15px;
}

.hero-subtext {
 font-size: 32px;
}

.hero-text {
 font-family: 'Bebas Neue';
 font-size: 128px;
 margin: 0px;
}

.arrow-container {
  position: relative;
  top: -250px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  background-color: var(--bg-color-translucent);
  padding: 10px 10px 10px 10px;
  justify-content: center;
  border-radius: 2px;
}

#scroll-text {
  font-size: 24px;
}

#upper-arrow {
  height: 75px;
  width: 0px;
  border: 2px solid var(--primary-color);
  margin-bottom: 15px;
}

#lower-arrow {
  height: 150px;
  width: 0px;
  border: 2px solid var(--primary-color);
  margin-top: 15px;
}

#arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid var(--primary-color);
}

/* MEDIA QUERIES AND RESPONSIVE STYLING */

@media only screen and (max-width: 1024px) {
  #spacer {
    display: block;
    width: 100%;
  }

  #hero-typography {
    margin: auto;
    height: auto;
    padding-bottom: 30px;
    padding-left: 30px;
  }

  .hero-section-container {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: auto;
    justify-content: center;
    align-items: center;
  }

  .grid-hero-container {
    display: grid;
    grid-template-columns: 180px auto 30% 10%;
    grid-template-rows: 100px auto 100px;
    background-color: var(--bg-color);
  }

  #gradient {
    width: 40%;
    bottom: 0px;
  }
}

