<div class = "grid-container" >
  <div class = "content-container">
    <app-plus-sign></app-plus-sign>
    <div class = "title-container">
      <h1 id = "experience-title" class = "title"> PROFESSIONAL EXPERIENCE </h1>
    </div>
    <div class = "content" id="experience-container">
      <div id="experience-list-container">
        <i id="left-arrow" class="fa-solid fa-chevron-left"></i>
        <div class = "experience-list">
          <div class = "experience" (click)="switchActiveExperience(1)"><span [ngClass]="ultraActive == true ? 'highlight-text':''">01</span><p class = "experience-name">Ultra Electronics <br/> Maritime Systems</p></div>
          <div class = "experience" (click)="switchActiveExperience(2)"><span [ngClass]="prattActive == true ? 'highlight-text':''" >02</span><p class = "experience-name">Pratt & Whitney Canada</p></div>
          <div class = "experience end" (click)="switchActiveExperience(3)"><span [ngClass]="dalActive == true ? 'highlight-text':''">03</span><p class = "experience-name">Dalhousie University</p></div>
        </div>
        <i id="right-arrow" class="fa-solid fa-chevron-right"></i>
      </div>
      <div class = "experience-detail">
        <p id = "experience-content-title" class = "heading"> {{experience.title}} </p>
        <p class = "experience-subtitle subtext"> {{experience.date}} </p>
        <div class = "experience-description">
          <p> {{experience.description}} </p>
          <ul>
            <li *ngFor="let bullet of experience.bullets">{{bullet}}</li>
          </ul>
        </div>
        <div class = "technology-tag-list">
          <div class = "tag" *ngFor="let tag of experience.tags;">
            <p class = "subtext">{{tag}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
