.experience {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  background-color: var(--bg-card-color);
  margin-bottom: 20px;
  max-width: 300px;
  align-items: center;
  border-radius: 5px;
}

.experience:hover {
  cursor: pointer;
}

.experience span {
  font-size: 64px;
  font-family: 'Bebas Neue';
  color: var(--primary-color);
  padding-right: 25px;
  font-weight: bold;
}

.experience p {
  width: 200px;
}

.experience-detail {
  margin-left: 45px;
  display: flex;
  flex-direction: column;
}

.experience-title {
  font-family: 'Aileron';
  font-size: 36px;
}

.experience-subtitle {
  font-size: 16px;
  color: var(--neutral-grey);
  font-weight: bold;
}

.experience-description {
  margin-top: 15px;
}

.technology-tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  margin: 5px;
  padding: 7px 10px;
  background-color: var(--bg-card-color);
  border-radius: 3px;
}

.tag p {
  font-size: 16px;
  color: var(--accent-color);
}

/* MEDIA QUERIES AND RESPONSIVE STYLING */

@media only screen and (max-width: 1200px) and (min-width: 900px) {
  .experience {
    max-width: 180px;
  }
  .experience p {
    font-size: 16px;
    font-family: "Aileron Semibold";
  }
  .experience span {
    font-size: 40px;
    padding-right: 15px;
  }
  .experience-title {
    font-size: 28px;
  }
  p {
    font-size: 20px;
  }
  li {
    font-size: 20px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 700px) {
  .content {
    flex-direction: column;
    overflow: scroll;
  }
  .experience-detail {
    margin: auto;
  }
  .experience span {
    padding-right: 10px;
  }
  .experience p {
    max-width: 130px;
  }
  .experience {
    max-width: 200px;
  }
  .experience {
    padding: 5px 10px;
    width: fit-content !important;
    margin: 0px 10px 0px 0px;
  }
  .experience-list {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    margin-bottom: 20px;
  }
  .tag p {
    font-size: 12px;
  }
  .experience-detail {
    margin: 0px;
  }
}


@media only screen and (max-width: 700px) {
  p {
    font-size: 16px;
  }
  li {
    font-size: 16px;
  }
  .experience-title {
    font-size: 18px;
  }
  .experience-subtitle {
    font-size: 14px;
  }
  .content {
    flex-direction: column;
    overflow: scroll;
  }
  .experience-detail {
    margin: auto;
  }
  .experience span {
    font-size: 36px;
    padding-right: 10px;
  }
  .experience p {
    font-size: 14px;
    max-width: 130px;
  }
  .experience {
    max-width: 200px;
  }
  .experience {
    padding: 5px 10px;
    width: fit-content !important;
    margin: 0px 10px 0px 0px;
  }
  .experience-list {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    max-width: 80vw;
    margin-bottom: 20px;
  }
  .tag p {
    font-size: 12px;
  }
}
