<div class = "grid-container">
  <div class = "content-container">
    <div class = "plus-container">
      <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="21.5" width="11" height="54" fill="#D9D9D9"/>
        <rect y="32.5" width="11" height="54" transform="rotate(-90 0 32.5)" fill="#D9D9D9"/>
      </svg>
    </div>
    <div class = "title-container">
      <h1 class = "title"> PROFESSIONAL EXPERIENCE </h1>
    </div>
    <div class = "content">
      <div class = "experience-list">
        <div class = "experience"><span class = "highlight-text">01</span><p>Ultra Electronics Maritime Systems</p></div>
        <div class = "experience"><span>02</span><p>Pratt & Whitney Canada</p></div>
        <div class = "experience"><span>03</span><p>Dalhousie University</p></div>
      </div>
      <div class = "experience-detail">
        <h2 class = "experience-title"> Ultra Maritime : Graduate Software Developer </h2>
        <p class = "experience-subtitle"> January 2020 - Present </p>
        <div class = "experience-description">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras urna odio, cursus ut maximus in, dictum sed velit. Nunc finibus justo non fringilla convallis. </p>
          <ul>
            <li>Pellentesque aliquam lectus est.</li>
            <li>Etiam tincidunt placerat sapien sed posuere. </li>
            <li>Cras semper sapien id tellus dignissim, a dictum mauris pulvinar. </li>
            <li>Pellentesque lacinia pellentesque nisi. </li>
            <li>Nam leo nisi, consequat eget sem eu, aliquam mattis nisl. </li>
          </ul>
        </div>
        <div class = "technology-tag-list">
          <div class = "tag"><p>C++</p></div>
          <div class = "tag"><p>Java</p></div>
          <div class = "tag"><p>Python</p></div>
          <div class = "tag"><p>Docker</p></div>
          <div class = "tag"><p>Jenkins</p></div>
          <div class = "tag"><p>Robot Framework</p></div>
          <div class = "tag"><p>ZMQ</p></div>
        </div>
      </div>
    </div>
  </div>
</div>
