<div class = "grid-hero-container" id="hero-container">
  <div class = "hero-section-container">
    <div id = "hero-typography">
      <p class = "hero-subtext" id = "above"> Hi, my name is </p>
      <h1 id = "hero-text"> Howard Pearce </h1>
      <p class = "hero-subtext" id = "below"> I am a software developer that is passionate about creating robust and maintainable software. </p>
    </div>
  </div>
  <div style="
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  z-index: 2;
  background-image: linear-gradient(transparent,var(--bg-color));">
  </div>
  <canvas id = "hero-graphic">
  </canvas>
  <div class = "arrow-container">
    <div id = "upper-arrow"></div>
    <p id = "scroll-text">SCROLL</p>
    <div id = "lower-arrow"></div>
    <div id = "arrow"></div>
  </div>
</div>


