<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<style>
  h1 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    color: #222222;
    font-size: 7em;
    margin-bottom: 5px;
  }
  p {
    margin: 5px;
    max-width: 400px;
    font-family: "Roboto", sans-serif;
  }
  .content {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: fit-content;
    height: 100vh;
  }
  a {
    color: #CB450C;
  }
  a:hover {
    color: white;
  }
  .warning {
    position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; width: 50%; z-index: -1;
  }
  @media only screen and (max-width: 600px) {
    h1 {
      font-size: 4em;
    }
    .warning {
      width: 75%;
    }
  }
</style>
<div class="content" role="main">
  <img class="warning" src="./assets/warning-svgrepo-com.svg" alt="Warning"/>
  <h1 id="construction"> UNDER CONSTRUCTION </h1>
  <a href="https://github.com/strigiforme/portfolio" target="_blank" ><img style=" width: 50px;" src="./assets/Octicons-mark-github.svg" alt="Github"/></a>
  <p style="position: absolute; bottom: 0; left: 0; padding: 10px; font-weight: bold; color: #cccccc;" >REV 6 V 2</p>
  <p style="position: absolute; top: 0; left: 0; padding: 10px; font-weight: bold; color: #cccccc;" >HOWARDPEARCE.CA</p>

</div>
<router-outlet></router-outlet>
