#experience-container {
  z-index: 1;
}

.experience {
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  background-color: var(--bg-card-color);
  margin-bottom: 20px;
  max-width: 300px;
  align-items: center;
  transition: background-color 0.25s ease-out !important;
  border-radius: 4px;
}

app-years-display {
  position: absolute;
  bottom: 0px;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.experience:hover {
  cursor: pointer;
  background-color: var(--bg-card-color-highlight);
}

.experience-name {
  min-width: 120px;
  font-size: 16px;
  font-family: "Aileron Semibold";
  transition: color 0.25s ease-out !important;
}

.experience-detail {
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  transition-delay: 100ms;
}

.experience-subtitle {
  color: var(--neutral-grey);
}

.experience-description {
  margin-top: 15px;
}

.technology-tag-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.tag {
  margin: 5px;
  padding: 7px 10px;
  background-color: var(--bg-card-color);
  border-radius: 3px;
}

.tag p {
  color: var(--accent-color);
}

.end {
  margin-right: 0px;
}

i {
  display: none;
  position: absolute;
  color: var(--neutral-grey);
  font-size: 20px;
}

#right-arrow {
  right: -20px;
}

#left-arrow {
  left: -20px;
}

#experience-list-container {
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: row;
}

/* MEDIA QUERIES AND RESPONSIVE STYLING */

@media only screen and (max-width: 1200px) and (min-width: 900px) {
  .experience {
    max-width: 180px;
  }
  .experience p {
    font-size: 16px;
  }
  .experience span {
    font-size: 40px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  .heading {
    font-size: 26px;
  }
  .content {
    flex-direction: column;
    margin-top: 10px;
  }
  .experience-list {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    padding-top: 10px;
    overflow: scroll;
  }
  #experience-list-container {
    align-items: center;
    margin-top: 10px;
  }
  .content {
    margin: 0px;
  }
  i {
    display: block;
  }
  .experience {
    padding: 10px 10px;
    width: fit-content;
    margin: 0px 10px 0px 0px;
    max-width: none !important;
  }
  .experience-detail {
    margin-left: 0px;
    margin-top: 10px;
  }
  .experience span {
    font-size: 30px;
    padding-right: 10px;
  }
  .experience-name {
    font-size: 14px;
    white-space: nowrap;
    max-width: none;
  }
}
