.left {
  width: 100%;
}

.left p {
  padding-bottom: 20px;
  max-width: 600px;
}

#time-text {
  font-family: 'Bebas Neue';
  font-size: 64px;
  font-weight: bold;
}

.time, .right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.time {
  margin-bottom: 30px;
}

svg circle {
  fill: var(--primary-color);
}

.content {
  justify-content: space-between;
  width: 100%;
}

.contact-resource {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contact-resource a {
  margin: 10px 10px 10px 0px;
  font-family: 'Aileron';
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
}

.contact-resource svg path {
  stroke: var(--primary-color);
}

.contact-resource svg line {
  stroke: var(--primary-color);
}

.contact-resource svg {
  padding-top: 2px;
}

.highlight a {
  color: var(--accent-color);
}

.highlight svg path, .highlight svg line {
  stroke: var(--accent-color) !important;
}
