#headshot {
  margin-left: 80px;
  width: 374px;
  height: 331px;
  -webkit-box-shadow: 40px 40px 0px 0px var(--bg-card-color), 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 40px 40px 0px 0px var(--bg-card-color), 5px 5px 15px 5px rgba(0,0,0,0);
  /* makes sure shadow does not overflow beyond headshot container */
  margin-right: 40px;
  margin-bottom: 40px;
}

#technology-list {
  display: flex;
  flex-direction: row;
}

#technology-list ul {
  padding-right: 80px;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li img {
  padding-right: 5px;
}

.ul-arrow {
  fill: var(--accent-color);
  margin-right: 5px;
}

.button-container {
  width: 100%;
  grid-column-start:2;
  grid-column-start:2;
  grid-column-end: 2;
  display: flex;
  justify-content: center;
}

.secondary-button {
  display: flex;
  align-items: center;
  font-family: 'Aileron';
  font-weight: bold;
  font-size: 20px;
  padding: 20px;
  background-color: var(--bg-color);
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
  border-radius: 2px;
}

.secondary-button:hover {
  cursor: pointer;
}

.secondary-button svg {
  margin-left: 15px;
}

.secondary-button svg path {
  stroke: var(--accent-color);
}

.secondary-button svg line {
  stroke: var(--accent-color);
}

/* MEDIA QUERIES AND RESPONSIVE STYLING */

@media only screen and (max-width: 1024px) and (min-width: 400px) {
  .typography p{
    font-size: 20px;
  }
  li {
    font-size: 20px;
  }
  #headshot img, #headshot{
    width: 290px;
    height: 256px;
  }
  #headshot {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 400px) {
  .typography p, li{
    font-size: 16px;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
  #headshot img, #headshot{
    width: 230px;
    height: 196px;
  }
  #headshot {
    -webkit-box-shadow: 20px 20px 0px 0px var(--bg-card-color), 5px 5px 15px 5px rgba(0,0,0,0);
    box-shadow: 20px 20px 0px 0px var(--bg-card-color), 5px 5px 15px 5px rgba(0,0,0,0);
    margin: 30px 20px 20px 0px;
  }
  #technology-list ul {
    padding-right: 40px;
  }
}
