<div class = "grid-container">
  <div class = "content-container">
    <div class = "plus-container">
      <svg width="54" height="54" viewBox="0 0 54 54" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect x="21.5" width="11" height="54" fill="#D9D9D9"/>
        <rect y="32.5" width="11" height="54" transform="rotate(-90 0 32.5)" fill="#D9D9D9"/>
      </svg>
    </div>
    <div class = "title-container">
      <h1 id = "about-title" class = "title"> ABOUT ME </h1>
    </div>
    <div class = "content">
      <div class = "typography">
        <p>
        I am a software developer based in Halifax, Nova Scotia. I specialize in designing and writing low-level application software.<br/>
        <br/>
        I’ve been fascinated by both Computers and Technology since a young age. I am passionate about solving technical problems both in my work and in my spare time.<br/>
        <br/>
        I’ve been working with the following technologies recently:</p>
        <div id = "technology-list">
          <ul>
            <li>
              <svg width="9" class = "ul-arrow" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 6L4.64275e-07 11.1962L9.18537e-07 0.803847L9 6Z"/>
              </svg>
               C++
            </li>
            <li>
              <svg width="9" class = "ul-arrow" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 6L4.64275e-07 11.1962L9.18537e-07 0.803847L9 6Z"/>
              </svg>
              Java
            </li>
            <li>
              <svg width="9" class = "ul-arrow" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 6L4.64275e-07 11.1962L9.18537e-07 0.803847L9 6Z"/>
              </svg>
              Python
            </li>
          </ul>
          <ul>
            <li>
              <svg width="9" class = "ul-arrow" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 6L4.64275e-07 11.1962L9.18537e-07 0.803847L9 6Z"/>
              </svg>
              Typescript
            </li>
            <li>
              <svg width="9" class = "ul-arrow" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 6L4.64275e-07 11.1962L9.18537e-07 0.803847L9 6Z"/>
              </svg>
              Docker
            </li>
            <li>
              <svg width="9" class = "ul-arrow" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 6L4.64275e-07 11.1962L9.18537e-07 0.803847L9 6Z"/>
              </svg>
              Jenkins
            </li>
          </ul>
        </div>
      </div>
      <div id = "headshot">
        <img src="./assets/images/headshot.png">
      </div>
    </div>
  </div>
</div>
