#headshot {
  margin-left: 80px;
  width: 374px;
  height: 331px;
  -webkit-box-shadow: 40px 40px 0px 0px var(--bg-card-color), 5px 5px 15px 5px rgba(0,0,0,0);
  box-shadow: 40px 40px 0px 0px var(--bg-card-color), 5px 5px 15px 5px rgba(0,0,0,0);
  /* makes sure shadow does not overflow beyond headshot container */
  margin-right: 40px;
  margin-bottom: 40px;
}

#technology-list {
  display: flex;
  flex-direction: row;
}

#technology-list ul {
  padding-right: 80px;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li img {
  padding-right: 5px;
}

.ul-arrow {
  fill: var(--accent-color);
  margin-right: 5px;
}
