.navbar-container {
  position: fixed;
  height: 100px;
  background-color: var(--navbar-color);
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  z-index: 5;
}

.expanded div span {
  font-size: 26px;
  font-weight: 100;
  font-family: 'Aileron';
  color: var(--primary-color);
  padding-right: 10px;
  transition: none;
  padding-left: 30px;
  padding-right: 5px;
  transition: color 0.25s ease-in;
}

.left {
  margin-left: 40px;
}

.right {
  margin-right: 80px;
  display: flex;
}

.navbar-text {
  padding-left: 0px;
  padding-right: 30px;
  text-decoration: none;
  font-family: "Aileron Semibold";
}

.right i {
  transition: none;
  padding-left: 20px;
  color: var(--primary-color);
}

.expanded {
  display: flex;
  flex-direction: row;
}

.navbar-text {
  font-size: 26px;
  margin: 0px;
}

#logotype {
  font-family: "Aileron Semibold";
}

.hamburger {
  display: none;
}

/* MEDIA QUERIES AND RESPONSIVE STYLING */

@media only screen and (max-width: 1400px) and (min-width: 1224px) {
  .navbar-text {
    padding-left: 0px !important;
    padding-right: 10px !important;
  }
}

@media only screen and (max-width: 1224px) and (min-width: 900px) {
  .expanded div span {
    padding-right: 0px;
    padding-left: 10px;
  }
  #logotype {
    font-size: 24px;
  }
  .navbar-text {
    font-size: 24px;
    padding-left: 5px !important;
  }
  .navbar-text {
    padding: 0px 10px;
  }
  .left {
    margin-left: 45px;
  }
  .right {
    margin-right: 45px;
  }
}

@media only screen and (max-width: 1224px) {
  .expanded div span {
    display: none;
  }
}

@media only screen and (max-width: 900px) and (min-width: 750px) {
  #logotype {
    font-size: 20px;
  }
  .navbar-text {
    font-size: 20px;
  }
  .navbar-text {
    padding: 0px 5px;
  }
  .left {
    margin-left: 45px;
  }
  .right {
    margin-right: 45px;
  }
}

@media only screen and (max-width: 750px) {
  .left {
    margin-left: 40px;
  }
  .left p {
    padding: 0px;
  }
  .right {
    margin-right: 40px;
  }
  #logotype {
    font-size: 20px;
  }
  .hamburger {
    display: block;
  }
  .expanded {
    display: none;
  }
  .hamburger i {
    padding-left: 30px;
  }
  .navbar-container {
    height: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .hamburger i {
    padding-left: 20px;
  }
  .right {
    margin-right: 30px;
  }
  .left {
    margin-left: 30px;
  }
}

@media only screen and (max-width: 400px) {
  .hamburger i {
    padding-left: 10px;
  }
}

@media only screen and (max-width: 350px) {
  .hamburger {
    display: none;
  }
}
