/* Special fonts go here */

@font-face {
  font-family: "Aileron";
  src: local("Aileron"), url("./assets/fonts/Aileron/Aileron-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Aileron Semibold";
  src: local("Aileron Semibold"), url("./assets/fonts/Aileron/Aileron-SemiBold.otf") format("opentype");
}

/* You can add global styles to this file, and also import other style files */

/* allows for color switching to look good */
html {
  scroll-behavior: smooth;
}

* {
  transition: color 1s ease-in, background-color 1s ease-in;
}

/* Structure styles used in every section */
.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: auto 1220px auto;
  grid-template-rows: 100px auto 100px;
  z-index: 2;
}

.content-container {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  display: grid;
  grid-template-columns: 120px 980px 120px;
  grid-template-rows: 70px auto;
  max-width: 1366px;
  width: 100%;
  margin: auto;
}

.content {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 2;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  max-width: 1366px;
  width: 100%;
}

.title-container {
  display: flex;
  align-items: center;
  grid-column-start: 2;
}

.title {
  border-bottom: 5px solid var(--primary-color);
  font-weight: 100;
}

@media not (prefers-reduced-motion) {
  .scroll-animated {
    position: relative;
    translate: -50px;
    transition: translate 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
  }

  .show {
    translate: 0px;
    opacity: 1;
  }
}

body {
  background-color: var(--bg-color);
}

:root {
  --bg-color: #1E1E1E;
  --bg-color-translucent: rgba(30,30,30,0.85);
  --navbar-color: rgba(26,26,26,0.95);
  --bg-card-color: #252525;
  --bg-card-color-highlight: #2D2D2D;
  --primary-color: #D9D9D9;
  --hero-text-color: #FFFFFF;
  --accent-color: #CB450C;
  --neutral-grey: #666666;
}

/* Responsive styling */

@media only screen and (max-width: 1400px) and (min-width: 1024px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto 1000px auto;
    grid-template-rows: 100px 800px 100px;
  }

  .content-container {
    grid-template-columns: 100px auto 50px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 700px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto 700px auto;
    overflow: hidden;
    grid-template-rows: 100px auto 100px;
  }

  .content-container {
    grid-template-columns: 100px 550px 50px;
  }
}

@media only screen and (max-width: 700px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto 400px auto;
    overflow: hidden;
  }
  .grid-container, .content-container, .content {
    margin: auto;
  }
  .content-container {
    grid-template-columns: 0px 400px 0px;
  }
  .title-container {
    display: flex;
    align-items: center;
  }
  h1 {
    font-size: 36px;
    font-weight: bold;
  }
  .title {
    border-bottom: 4px solid var(--primary-color);
  }
  .content {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 450px) {
  .grid-container {
    display: grid;
    grid-template-columns: auto 320px auto;
    overflow: hidden;
  }
  .content-container {
    grid-template-columns: 0px 320px 0px;
  }
}


@media only screen and (max-width: 1200px) and (min-width: 700px ){
  .title {
    font-size: 50px;
  }
  p, li, a {
    font-size: 20px;
  }
  .heading {
    font-size: 28px;
  }
  .subtext {
    font-size: 16px;
  }
}

@media only screen and (max-width: 700px) {
  .title {
    font-size: 48px;
  }
  p, li, a {
    font-size: 16px;
  }
  .heading {
    font-size: 20px;
  }
  .subtext {
    font-size: 12px;
  }
}

@media only screen and (max-width: 450px) {
  .title {
    font-size: 38px;
  }
}


/* Styling to manage the size of text throughout the portfolio */

.heading {
  font-family: "Aileron Semibold";
  font-size: 32px;
}

.subtext {
  font-size: 16px;
}

h1 {
  font-size: 64px;
}

.highlight-text {
  color: var(--accent-color) !important;
}

p, a, li, h1, h2, h3{
  color: var(--primary-color);
  margin: 0px;
}

h1, h2, h3 {
  font-family: 'Bebas Neue';
}

p, a, li {
  font-family: "Aileron", sans-serif;
  font-size: 24px;
}

@media (hover: hover) {
  .highlight-on-hover {
    background-image: linear-gradient(
      to right,
      var(--accent-color),
      var(--accent-color) 50%,
      var(--primary-color) 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.25s ease-in-out;
  }
}

.highlight-on-hover:hover::before{
  width: 100%;
}

.highlight-on-hover:hover {
  background-position: 0;
}
