/* You can add global styles to this file, and also import other style files */
.grid-container {
  display: grid;
  grid-template-columns: 180px auto 180px;
  grid-template-rows: 100px auto 100px;
  background-color: var(--bg-color);
}

:root {
  --bg-color: #1E1E1E;
  --bg-card-color: #252525;
  --primary-color: #D9D9D9;
  --hero-text-color: #FFFFFF;
  --accent-color: #CB450C;
}
